.titulo-principal{
    padding: 40px;
    background:	#fbd1d2;

}
#marcela {
    width: 100%;
    
}

.principal{
    background:	#fbd1d2;
    padding: 40px;
}

.titulo_centralizado{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #ce2f5c ;
}

#identidade {
    display: inline-block;
    font-size: 30px;
    vertical-align: 30px;
    width: 70%;
    text-align: center;
}

.diamante{

    width: 20%;
    margin:0 50;
    border-radius: 50%;
}

#missao {
   font-size: 30px;
   text-align: center;
   
  }

em {
    color: #ce2f5c ;
}

.itens {
    font-style: italic; 
    
   }

.servicos {
    background: #FFFFFF;
    padding: 20px;
       
   }

ul {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 15%;

}

.imagemservicos {
    width: 30%;
}