header {
    background: 	#fbd1d2;
    width: 100vw;
    
}
.img img {
        
        max-width:200px;
        max-height:150px;
        width: auto;
        height: auto;
        margin: 0 0 20 0;
}

.caixa {
   position: relative;
    width: 940px;
    
}

nav{
    position: absolute;
    top: 50px;
    right: 0;
}
nav li{
    display: flex;
    align-items: inline;
    justify-content: flex-end;
    position:relative;
    vertical-align: auto;
  
}

nav a  {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    position: relative;

}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;
    border-image: auto;
   
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 10px ;
    border: 2px solid #000000;
    border-radius: 10px;

}
.produtos h2{
    font-size: 20px; 
    font-weight: bold ;
    
}

.produto-descricao{
    font-size: 15px;
    margin-top: 10px;
   }

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


