header {
    background: 	#fbd1d2;
    width: 100%;
    padding:20px 0;
}
img {
  
        display: block;
        margin-left: 0px;
        

}

.caixa {
   position: relative;
    width: 940px;
    margin: 0 auto;

}

nav{
    position: absolute;
    top: 250px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;

}