header {
    background: #fbd1d2;
    width: 100%;
    
    
}
.img img{
        
        max-width:200px;
        max-height:150px;
       
        
}

.caixa {
   position: relative;
    width: 940px;
    
}

nav{
    position: absolute;
    top: 50px;
    right: 0;
}
nav li{
    display:flex;
    align-items: inline;
    vertical-align:baseline;
  
}

nav a  {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    position: block;

}

nav a:hover{
    color: rgb(166, 243, 246);
    text-decoration: underline;
}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;
    border-image: auto;
   
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 10px ;
    box-sizing: border-box;
    border: 2px solid #000000;
   

}
.produtos li:hover{
    border-color: rgb(166, 243, 246);
  
}
.produtos li:active{
    border-color: aqua;
}

.produtos li:hover h2{
    font-size: 30px;

}

.produtos h2{
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 20px;
    
}

.produto-descricao{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
   }

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: rgb(166, 243, 246);
    padding: 40px 0;
}

.copyright{
    font-size: 8px;
    margin: 5px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{ 
    margin: 40px 0;

}
form label, form legend {
    display: block;
    font-size:20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: #fbd1d2 ;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;

}

.enviar:hover{
    background: #ff989a;
    transform: scale(1.2);
    transform:  scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #fbd1d2;
    font-weight: bold;
    color: black;

}

td, th {
    border: 1px solid #000000 ;
    padding: 8px 15px;
}
