.principal{
    background:	#fbd1d2;
    padding: 40px;
}

.titulo-principal{
    padding: 20px;
}

#identidade {
    display: inline;
    font-size: 30px;
    vertical-align: top;
   


}

#marcela {
    width: 100%
    
}

p {
    text-align: center;
    font-size: 25px;
    
}

#missao {
   font-size: 35px
  
}

.titulo_centralizado{
   text-align: center

}

.diamante{

    width: 20%

}

em {
    color: #ce2f5c 
}

.itens {
    font-style: italic; 
    
   }

.servicos {
    background: #FFFFFF;
    padding: 20px;
       
   }

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imagemservicos {
    width: 30%
}